img{
    height: 75px;
    padding-left: 47%;
}

h1{
    text-align: center;
    margin-top: 2px;
}

#tl{
    border: 2px solid red;
    border-radius: 5px;
    width:75%;
    text-align: center;
    height: 70%;
    background-color: white;
}

#main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#account{
    text-align: center;
    margin-bottom: 2%;
}

body{
    background-color: #003366;
    color: #CC0033;
}

#page{
    border: 2px solid red;
    border-radius: 5px;
    width: 75%;
    padding-bottom: 30%;
    text-align: center;
    background-color: white;
}

#logout{
    float: bottom;
}


